.moviesContainer {
    max-width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.movieBox {
    margin: 10px;
    width: 150px;
    height: 100%;
    border: 1px solid blue;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 3px 3px;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: .22s;
}

.movieBox:hover {
    background-color: #34d5eb;
    transform: scale(1.2);
    transition: .22s;
}

.movieImg {
    max-width: 100%;
}

.movieTitle {
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}